
<h1>Travel Lists</h1>
<a href="/lists/new">Create a List</a>
<% @lists.each do |list| %>
    <h2><a href="/lists/<%= list.id %>"><%= list.title %></a></h2>
    <p><%= list.notes %></p>
    <% # If currently logged in user created this list: %> 
    <a href="/lists/<%= list.id %>/edit">Edit</a>
<% end %>    