<h1>Create a Travel List</h1>
<p><%= @error %></p>
<form action="/lists" method="post">
  <label>Title</label>
  <input type="text" name="list[title]">
  <br>
  <br>
  <br>
  <label>Notes </label>
  <textarea name="list[notes]"></textarea>
  <br>
  <br>
  <br>
  <label>Add Destination(s) e.g. Country, City, etc. </label>
  <textarea name="list[destination]"></textarea>
  <br>
  <br>
  <br>
  <label>Image URL</label>
  <textarea name="list[image]"></textarea>
  <br>
  <br>
  <div><button type="submit">Add List</button></div>
  <br>
  <a href="/lists">Cancel</a>
</form>
