$container: rgb(245, 238, 238);

.header {
  display: flex;
  background-color: whitesmoke;
  position: fixed;
  width: 100%;
  opacity: 0.95;

  .title {
    color: white;
    background-color: rgb(23, 204, 120);
    margin: 6px;
    padding: 1px;

    h1 {
      margin: 3px;
    }
  }

  .menu {
    display: flex;
    margin: 0 5px 0 auto;
    
    div {
      padding: 10px;
      background-color: rgb(156, 230, 233);
      margin: 10px;
      border-radius: 6px;
      &:hover {
        cursor: pointer;
        background-color: lightgray;
        transition: 0.3s ease;
      }
    }

  }
}

.wrapper {
  padding: 58px 5px;

  .lists-container {

      .list-cards {
        padding: 20px;
        display: grid;
        grid-template-columns: 30% 30% 30%;
        grid-column-gap: 5%;
        grid-row-gap: 20px;
        background-color: whitesmoke;

        .list-card {
          box-shadow: 5px 2px rgb(237, 236, 236);
          padding: 20px;
          border-radius: 5px;
          background-color: white;
          img {
            width: 100%;
          }
          &:hover {
            background-color: lightgray;
            color: black;
            cursor: pointer; 
            transition: 0.3s ease;
          }
          
        }
      }

  }
}

a {
  text-decoration: none;
  color: rgb(77, 41, 238);
}

body {
  padding: 0;
  margin: 0;
}