<h1>Welcome to TopTravel!</h1>
<h3>This site is designed to help you keep track of your top travel destinations that you'd like to visit.</h3>
<h4>Create as many lists as you'd like whether you want to organize by season, occasion, family/romantic, continent, etc.  
 
Unfortunately times are tough these days and travel may be restricted for many of us, but hopefully sooner than later we are all able to get out and explore all of the amazing countries and cultures around the world once again.</h4>

<footer class="branding">
<small>&copy; 2020 <strong>TopTravel</strong></small>
</footer>